.container
	.row
		.col-md-12
			%h1 Wecome to earnings pop
			%p.lead
				Find out how likely it is for your stock to beat earnings estimates.
				We use machine learning and big data to analyze a stock's past price and volume history and provide you an prediction of
				the likelihood of an earnings beat. FREE of charge

			%p Sign up below to get notified when we launch.
